{{page-title 'Blog'}}
{{#if this.cardView}}
  <div>
    {{#if this.isLoading}}
      <Blog::CardItemLoading />
    {{else}}
      {{#each this.content as |blogPost|}}
        <Blog::CardItem @blogPost={{blogPost}} @locale={{this.locale}} />
      {{/each}}
    {{/if}}
  </div>
{{else}}
  <ul>
    {{#if this.isLoading}}
      <Blog::ListItemLoading />
    {{else}}
      {{#each this.content as |blogPost|}}
        <Blog::ListItem @blogPost={{blogPost}} @locale={{this.locale}} />
      {{/each}}
    {{/if}}
  </ul>
{{/if}}